.website-header {
  background-image: url('./imagenes/navbar.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 420px;

  
  .nav-link {
    font-family: 'Bellota', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: $color-blanco;
  }
}